@{
    ViewData["Title"] = "Community";
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SdAmVfGT1K8MnsmuYQby2wJibmeiHnQwVHK5S"
        crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<div class="comlayer">
    <div class="container">
        <div class="wrapper">
            <div class="commheader">
                <div id="bgCom">
                    <div class="container mt-3" id="overlap">
                        <div class="header border-bottom border-3 border-dark text-center mx-auto mt-3">
                            <label class="header-font">Community</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="container mt-3">
                    <div class="row">
                        <!-- Left column for text -->
                        <div class="col-md-6 text-center">
                            <p id="txtdivide">
                                A community of shared co-working spaces represents a collaborative and flexible work environment where individuals from diverse professional backgrounds come together to work, network, and share resources.
                            </p>
                        </div>
                        <div class="col text-center">
                            <p id="txtdivide">
                                Explore additional reviews and feedback from our customers and business partners by clicking here to gain insights into their experiences with our online booking and payment facility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side">
                <div id="carousel" class="carousel slide mt-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-image bg-img-1 active">
                            <img src="~/res/People.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item carousel-image bg-img-2">
                            <img src="~/res/Twopersons.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item carousel-image bg-img-3">
                            <img src="~/res/Hive.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item carousel-image bg-img-3">
                            <img src="~/res/AboutImage.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
