@model Listing

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>

    .card {
        background-color: skyblue;
        padding: 20px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    /* Limit the width of the file input field */
    #estabIMG {
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* Set the dimensions of the image preview to a circle with a diameter of 2 inches */
    #imgPreview {
        width: 400px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    /* Style for the image placeholder to make it circular */
    #imagePlaceholder {
        background: url(../res/img-placeholder.png) no-repeat center center;
        width: 400px;
        height: 250px;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
</style>



<div class="listinglayer ps-5 pt-5" id="listinglayer">
    <div class="container listingform pt-5 pe-5 pb-3 ps-5" style="overflow-y: auto;">
        <form method="post" asp-action="Add" asp-controller="Listing" id="listingform" enctype="multipart/form-data">
            <section class="show" id="step1">
                <div class="row text-center">
                    <div class="col">
                        <label class="listingheader">Step 1: Establishment Information<span style="color: red">*</span></label>
                    </div>
                </div>

                <div class="centerelement pt-3">
                    <div src="#" id="imagePlaceholder">
                        <img src="#" id="imgPreview" />
                    </div>
                </div>
                <div class="row centerelement pt-3">
                    <div class="col">
                        <div class="input-group">
                            <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" asp-for="ESTABIMG" id="estabIMG" accept="image/*" required />
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabName" asp-for="ESTABNAME">
                            <label for="estabName">Establishment Name<span style="color: red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" style="height: 100px" class="form-control" id="estabDesc" asp-for="ESTABDESC" maxlength="30">
                            <label for="estabDesc">Establishment Description<span style="color: red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabAdd" asp-for="ESTABADD" maxlength="40">
                            <label for="estabAdd">Establishment Address<span style="color: red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabRate" asp-for="ESTABHRPRICE">
                            <label for="estabRate">Hourly Price</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabDayRate" asp-for="ESTABDAYPRICE">
                            <label for="estabDayRate">Day Pass Price</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabWeekRate" asp-for="ESTABWKPRICE">
                            <label for="estabWeekRate">Weekly Pass Price</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="estabYearRate" asp-for="ESTABMONPRICE">
                            <label for="estabYearRate">Monthly Pass Price</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="time" asp-for="STARTTIME" class="form-control formatslabel" id="timestart">
                            <label for="timestart">Start Time<span style="color: red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="time" asp-for="ENDTIME" class="form-control formatslabel" id="timeend">
                            <label for="timeend">End Time<span style="color: red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="form-group text-center btn-container">
                            <button type="button" class="btn btn-success btn-lg" style="width: 25%" onclick="nextPage('next')" id="nextbtn">Next</button>
                            <button type="submit" class="btn btn-danger btn-lg" style="width: 25%" id="cancelBtn">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hide" id="step2" >
                <div class="row text-center">
                    <div class="col">
                        <label class="listingheader">Step 2: Establishment Verification</label>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <label class="formatslabel">Your Information Used For Verification Is Private</label>
                    </div>
                </div>
                <div class="row centerelement pt-3">
                    <div class="col">
                        <div class="input-group">
                            <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" asp-for="VERIMG" id="verIMG" accept="image/*" required />
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="form-group text-center btn-container">
                            <button type="submit" class="btn btn-success btn-lg" style="width: 25%" id="nextbtn">List</button>
                            <button type="submit" class="btn btn-danger btn-lg" style="width: 25%" id="backbtn" onclick="nextPage('back')">Go Back</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>



<script>
    $(document).ready(function () {

        // Function to clear input fields and reset dropdowns
        function clearInputFields() {
            $("input[name='ESTABNAME']").val('');
            $("input[name='ESTABDESC']").val('');
            $("input[name='ESTABADD']").val('');
            $("input[name='ESTABHRPRICE']").val('');
            $("input[name='ESTABDAYPRICE']").val('');
            $("input[name='ESTABWKPRICE']").val('');
            $("input[name='ESTABYRPRICE']").val('');
            $("input[name='STARTTIME']").val('');
            $("input[name='ENDTIME']").val('');
            $("#accomddbtn").val('Type');
            // Reset the image placeholder
            $("#imgPreview").attr('src', '');
            $('#imagePlaceholder').css('background-color', 'white');
            $("#estabIMG").val('');
        }

        // Call the clearFormFields function when the page loads
        window.onload = clearInputFields;

        // Click event for the "CANCEL" button
        $('#cancelBtn').click(function () {
            clearInputFields();
            // Prevent the form from submitting
            return false;
        });
    });

    // Function to handle image preview
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#imgPreview').attr('src', ''); // Empty the src attribute
        }
    }

    // Listen for changes in the file input
    $('#estabIMG').change(function () {
        previewImage(this);
    });

</script>


@if (TempData.ContainsKey("FieldError"))
{
    <script>
        var fieldError = '@TempData["FieldError"]';
        Swal.fire({
            icon: 'error',
            title: 'Field Validation Entry Error',
            text: fieldError,
        });
    </script>
}

@if (TempData.ContainsKey("DuplicateError"))
{
    <script>
        var duplicateError = '@TempData["DuplicateError"]';
        Swal.fire({
            icon: 'error',
            title: 'Duplicate Error',
            text: duplicateError,
        });
    </script>
}

@if (TempData.ContainsKey("SuccessMessage"))
{
    <script>
        var successMessage = '@TempData["SuccessMessage"]';
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: successMessage,
        });
    </script>
}