@model Listing
<div class="detailslayer container">
	<div class="wrapper pt-5 mt-3">
		@*PRICE DESCRIPTION ADDRESS*@
		<div class="detailside">
			<form method="post">
				<img src="/img/@Model.ESTABIMAGEPATH" class="detailcover" asp-append-version="true" />
				<div class="pt-5 ps-5 pe-5">
					<div class="row">
						<div class="col">
							<input asp-for="ESTABNAME" class="detailheader text-center border-0" style="background-color: #D9D9D9" disabled />
						</div>
					</div>
					<div class="row">
						<div class="col">
							<textarea asp-for="ESTABDESC" class="detailsbody text-center border-0" style="background-color: #D9D9D9;resize: none; width: 100%" disabled></textarea>
						</div>
					</div>
				</div>
				<div class="detailsidetwo">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="pricelabelid">Price Rate: ₱</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<input asp-for="ESTABPRICE" class="detailsbody border-0" style="background-color: #D9D9D9" disabled />
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="address">Address: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<input asp-for="ESTABADD" class="detailsbody border-0" style="background-color: #D9D9D9" disabled />
							</div>
						</div>
					</div>
				</div>
				<div class="detailsidetwo pt-4">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="start">Opening Time:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<input type="text" asp-for="STARTTIME" class="detailsbody border-0" style="background-color: #D9D9D9" disabled />
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="end">Closing Time: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<input type="text" asp-for="ENDTIME" class="detailsbody border-0" style="background-color: #D9D9D9" disabled />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-5 text-center">
		<div class="col">
			<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Listing" asp-action="Index">GO BACK</a>
		</div>
		<div class="col">
			<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;" asp-area="" asp-controller="Listing" asp-action="Booking" asp-route-name="@Model.ESTABNAME">BOOK NOW</a>
		</div>
	</div>
</div>