@model List<Trabahub.Models.Listing>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h1>Spaces New</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Establishment Name</th>
            <th scope="col">Description</th>
            <th scope="col">Address</th>
            <th scope="col">Time</th>
        </tr>
    </thead>

</table>