@{
    ViewData["Title"] = "Contacts";
}

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<section id="firstbg">
    <div class="text-center pt-5" id="txtcontainer">
        <p class="contactland">
            WE'D LOVE TO<br />
            HEAR FROM<br />
            YOU
        </p class="para1">
        <p id="secondtxt">Your thoughts matter to us, and we are eager to know about your experience. <br />Share your feedback, suggestions, or even just a quick hello.<br /> Your inputs help us grow and improve. Thanks for <br /> being part of our community!</p>
    </div>

        <div class="d-flex justify-content-center pt-2">
        <a type="button" id="Contactbtn" class="mx-auto border-0 text-center pt-2"
           asp-area="" asp-controller="Contacts" asp-action="SendEmail" style="text-decoration: none">
            CONTACT US
        </a>
    </div>
</section>
