@{
    ViewData["Title"] = "Contacts";
}

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<section id="firstbg">
    <div class="text-center pt-5 txtcontainter">
        <p class="contactland">
            WE'D LOVE TO<br />
            HEAR FROM<br />
            YOU
        </p class="para1">
        <p id="secondtxt">Your thoughts matter to us, and we are eager to know about your experience. <br />Share your feedback, suggestions, or even just a quick hello.<br /> Your inputs help us grow and improve. Thanks for <br /> being part of our community!</p>
    </div>

</section>

<section id="secondbg">
    <h1>HELLO</h1>

</section>
