<div class="detailslayer container">
	<div class="wrapper">
		@*HEADER CO-WORKING SPACE NAME*@
		<div class="row pt-3">
			<div class="col">
				<div class="header border-bottom border-2 border-dark">
					<label class="detailheader">Workspace Cafe</label>
				</div>
			</div>
		</div>
		@*COVER IMAGE OF CO-WORKING SPACE*@
		<div class="detailmain justify-content-center text-center">
			<img src="/res/Workplace Cafe.jpg" class="detailcover" />
		</div>
		@*PRICE DESCRIPTION ADDRESS*@
		<div class="detailside">
			<div class="container">
				<div class="row mb-4 detailbars text-start" style="height: 60px">
					<div class="col" id="pricelabelid">
						<label class="ps-4 mt-1 dbarheader">P200 - P400</label>
					</div>
				</div>
				<div class="row mb-4 detailbars p-3" style="height: auto">
					<div class="col text-start">
						<div class="container mt-3">
							<p class="detailsbody">
								Workplace Café is a coworking café – a good place for you to work in a café experience! Come, have coffee, while coworking with us!
							</p>
						</div>
					</div>
				</div>
				<div class="row mb-4 detailbars p-3" style="height: auto">
					<div class="col">
						<div class="container mt-3">
							<div class="row text-start">
								<div class="col-3">
									<svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8913 56.0657C40.8336 54.6421 59.375 45.0017 59.375 28.125C59.375 16.0438 49.5812 6.25 37.5 6.25C25.4188 6.25 15.625 16.0438 15.625 28.125C15.625 45.0017 34.1664 54.6421 37.1087 56.0657C37.3651 56.1897 37.6349 56.1897 37.8913 56.0657ZM37.5 37.5C42.6777 37.5 46.875 33.3027 46.875 28.125C46.875 22.9473 42.6777 18.75 37.5 18.75C32.3223 18.75 28.125 22.9473 28.125 28.125C28.125 33.3027 32.3223 37.5 37.5 37.5Z" fill="#3ECCB5" />
										<path d="M56.4443 51.5625C58.3642 52.9877 59.375 54.6043 59.375 56.25C59.375 57.8957 58.3642 59.5123 56.4443 60.9375C54.5244 62.3627 51.7629 63.5462 48.4375 64.369C45.1121 65.1918 41.3399 65.625 37.5 65.625C33.6601 65.625 29.8879 65.1918 26.5625 64.369C23.2371 63.5462 20.4756 62.3627 18.5557 60.9375C16.6358 59.5123 15.625 57.8957 15.625 56.25C15.625 54.6043 16.6358 52.9877 18.5557 51.5625" stroke="#3ECCB5" stroke-width="2" stroke-linecap="round" />
									</svg>
								</div>
								<div class="col-7">
									<p class="detailsbody text-start">
										Ground Floor, Ayala Central Bloc, Apas, Cebu City, 6000 Cebu
										Located At Ayala Malls Central Bloc
									</p>
								</div>
							</div>
							<div class="row text-start">
								<div class="col-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 75 75" fill="none">
										<circle cx="37.5" cy="37.5" r="23.5" fill="white" stroke="#3ECCB5" stroke-width="3" />
										<path d="M37.5 21.875V37.25C37.5 37.3881 37.6119 37.5 37.75 37.5H46.875" stroke="#3ECCB5" stroke-width="4" stroke-linecap="round" />
									</svg>
								</div>
								<div class="col-7 pt-3">
									<p class="dbarheader text-start">
										Open 24 Hours
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col">
						<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Spaces" asp-action="Index">GO BACK</a>
					</div>
					<div class="col">
						<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;" asp-area="" asp-controller="Spaces" asp-action="Booking">BOOK NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>