<div class="spacelayer pt-4">
	<div class="container">
		<div class="wrapper">
			<div class="spaceheader mb-5">
				<div class="row">
					<div class="col" id="spaceheader">
						<div class="border-bottom border-3 border-dark">
							<label class="spaceheader">Space</label>
						</div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col" id="spacedesc">
						<p class="spacebodytext">Discover our diverse range of spaces with detailed availability, accomodation type and pricing</p>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-3" id="filter">
					<div class="spacemain border border-1 border-primary">

					</div>
				</div>
				<div class="col-9" id="spaceselection">
					<div class="spaceside border border-1 border-primary">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
