<div class="listinglayer">
    <div class="row">
        <div class="col-2">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white" style="height: 100vh; width: 30vh;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" onclick="BasicClicked()">
                            <i class="bi bi-info-square-fill me-4"></i><span> Basic</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" onclick="LocationClicked()">
                            <i class="fas fa-chart-area fa-fw me-4"></i><span>Location</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-lock fa-fw me-4"></i><span>Facilities</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="bi bi-pass-fill me-4"></i><span>Details</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="bi bi-card-image me-4"></i><span>Photos</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="bi bi-caret-right-square-fill me-4"></i><span>Publish</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-10 pt-3">
            <div class="basic" id="basic">
                <div id="header">
                    <div class="row">
                        <div class="col">
                            <label>Match your Co-Working Spaces and Study Hub to right individuals</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>All information is required unless mark optional (*).</label>
                        </div>
                    </div>
                </div>
                <div id="main" class="pt-3">
                    <div class="row">
                        <div class="col">
                            <label>Name Your Place</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Make Your Name Sounds Catchy To User's Eyes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text"/>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <label>Property Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Choose One Type From Below</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Co-Working Space</label>
                        </div>
                        <div class="col">
                            <label>Study Hub</label>
                        </div>
                        <div class="col">
                            <label>Cafe</label>
                        </div>
                        <div class="col">
                            <label>Private Space</label>
                        </div>
                        <div class="col">
                            <label>Hybrid Setup</label>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <label>Describe Your Place</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Give The Reason Why They Should Choose Your Place</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location hidelcontent" id="location">
                <h1>HELLO FUCKWAD</h1>
            </div>
        </div>
    </div>
</div>