@model List<Trabahub.Models.Credentials>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="adminlogin">
    <div class="row">
        <div class="col">
            <img class="forgotlogo" src="~/res/LargeLogo.png" alt="Trabahub logo" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="forgotheader">Admin Login</label>
        </div>
    </div>
    <form class="admin-form mt-2" method="post" asp-controller="Credentials" asp-action="Admin">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="adminemail" name="adminemail">
                    <label for="adminemail">Email</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="adminpassword" name="adminpassword">
                    <label for="adminpassword">Password</label>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button type="submit" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Login</button>
            </div>
        </div>
    </form>
</div>