@model Credentials

<div class="profile-layer">
    <div class="profile-details mt-4">
       <div class="d-flex justify-content-center align-items-center">
            <img src="~/res/profile-user.png" />
       </div>
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="row text-center">
                <div class="col">
                    <label class="col-form-label fs-3">User Type: @Model.UserType</label>
                    <input asp-for="UserType" class="form-control" readonly />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label class="col-form-label">Username:</label>
                    <input asp-for="Username" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Email:</label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
            </div>
            <div class="row" hidden>
                <div class="col">
                    <label class="col-form-label">Password:</label>
                    <input asp-for="Password" class="form-control" readonly input-type="password" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">First Name:</label>
                    <input asp-for="fName" class="form-control" />
                </div>
                <div class="col">
                    <label class="col-form-label">Last Name:</label>
                    <input asp-for="lName" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Date Created:</label>
                    <input asp-for="CreationDate" class="form-control" readonly />
                </div>
            </div>
            <div class="row" hidden>
                <div class="col">
                    <label class="col-form-label">Date Created:</label>
                    <input asp-for="VerificationCode" class="form-control" readonly />
                </div>
            </div>
            <div class="center-element mt-4" role="group">
                <button type="submit" class="btn btn-primary" style="width: 150px">Save</button>
            </div>
        </form>
    </div>
</div>
</div>
