@model Credentials
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="forgotlayer mt-5" id="forgotlayer" style="display: grid; justify-content: center">
    <div class="container">
        <div class="adjust-content-password">
            <div class="row mt-5" style="transform: translate(30%, -30%)">
                <div class="col">
                    <img class="forgotlogo" src="~/res/LargeLogo.png" alt="Trabahub logo" />
                </div>
            </div>
            <div class="row mb-3 mt-2" style="transform: translate(20%, -100%)">
                <div class="col">
                    <label class="forgotheader fw-bold">Forgot Password?</label>
                </div>
            </div>
            <form asp-action="ForgotPassword" method="post">
                <input asp-for="Username" class="form-control" readonly hidden />
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" style="width: 150%" id="floatingInputEmail" asp-for="Email">
                            <label for="floatingInputEmail">Email</label>
                            <span class="position-absolute text-center" style="transform: translate(170%, 0%); width: 100%" id="emailValidationMessage"></span>
                            <div class="input-group-append position-absolute" style="cursor: pointer; transform: translate(850%, -150%)">
                                <span class="input-group-text" onclick="checkEmail()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm9.354-3.354a.5.5 0 0 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L6.707 9H12.5a.5.5 0 0 0 0-1H6.707l2.647-2.646z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInputPassword" style="width: 150%;" asp-for="Password" disabled required>
                            <label for="floatingInputPassword">Password</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirmPassword" style="width: 150%;" oninput="checkForgotPasswordMatch()" disabled required />
                            <label for="confirmPassword">Confirm Password</label>
                            <span id="passwordMatchError" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Update</button>
                    </div>
                    <div class="col" style="transform:translate(0%, 29%)">
                        <a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Credentials" asp-action="Login">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData.Peek("ShowSweetAlert") is bool showSweetAlert && showSweetAlert)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'success',
                title: 'Password Updated',
                text: 'Your password has been updated successfully!',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the login page
                    window.location.href = '@Url.Action("Login", "Credentials")';
                }
            });
        });
    </script>
    TempData.Remove("ShowSweetAlert");
}