@model Credentials
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="forgotlayer" id="forgotlayer" style="display: grid; align-items: center; justify-content: center">
    <div class="container">
        <div class="adjust-content-password">
            <div class="row mt-5" style="transform: translate(30%, -30%)">
                <div class="col">
                    <img class="forgotlogo" src="~/res/LargeLogo.png" alt="Trabahub logo" />
                </div>
            </div>
            <div class="row" style="transform: translate(20%, -100%)">
                <div class="col">
                    <label class="forgotheader">Forgot Password?</label>
                </div>
            </div>
            <form asp-action="ForgotPassword" method="post" onsubmit="return submitForm();">
                <input asp-for="Username" class="form-control" readonly hidden />
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputEmail" style="width: 150%;" asp-for="Email" onkeypress="handleEnter(event)">
                            <label for="floatingInputEmail">Email</label>
                        </div>
                        <span id="emailValidationMessage" style="color: red;"></span>
                    </div>
                </div>
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInputPassword" style="width: 150%;" asp-for="Password" disabled required>
                            <label for="floatingInputPassword">Password</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="transform: translate(-20%, -25%)">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirmPassword" style="width: 150%;" oninput="checkForgotPasswordMatch()" disabled required />
                            <label for="confirmPassword">Confirm Password</label>
                            <span id="passwordMatchError" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Update</button>
                    </div>
                    <div class="col" style="transform:translate(0%, 25%)">
                        <a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Credentials" asp-action="Login">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@if (TempData.Peek("ShowSweetAlert") is bool showSweetAlert && showSweetAlert)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'success',
                title: 'Password Updated',
                text: 'Your password has been updated successfully!',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the login page
                    window.location.href = '@Url.Action("Login", "Credentials")';
                }
            });
        });
    </script>
    TempData.Remove("ShowSweetAlert"); // Remove the flag to prevent showing again
}