<div class="forgotlayer" style="display: grid; align-items: center; justify-content: center">
	<div class="container">
		<div class="adjust-content-password">
			<div class="row" style="transform: translate(20%, -50%)">
				<div class="col">
					<img class="forgotlogo" src="~/res/LargeLogo.png" alt="Trabahub logo" />
				</div>
			</div>
			<div class="row" style="transform: translate(10%, -100%)">
				<div class="col">
					<label class="forgotheader">Forgot Password?</label>
				</div>
			</div>
			<div class="row" style="transform: translate(-20%, -25%)">
				<div class="col">
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: 150%;">
						<label for="floatingInput">Email address</label>
					</div>
				</div>
			</div>
			<div class="row" style="transform: translate(15%, 0%)">
				<div class="col">
					<a class="dbuttonlbls text-white border-0 text-decoration-none rounded-1"
					   style="background-color: #3ECCB5;" href="#">Submit</a>
				</div>
			</div>
		</div>
	</div>
</div>