<div class="loginlayer" id="loginlayer">
	<div class="logincontainer">
		<div class="wrapper">
			<div class="loginside">
				<div class="row">
					<div class="col">
						<img src="https://i.ibb.co/KW0YHr4/Large.png" class="loginlogo" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="loginheader text-white">CO-WORKING SPACES AND STUDY HUBS IN CEBU</label>
					</div>
				</div>
				<div class="row pt-3">
					<div class="col">
						<label class="loginheaderb text-white">In An Innovative Environment</label>
					</div>
				</div>
			</div>
			<div class="loginmain">
				<div class="p-5 loginbody">
					<form>
						<div class="row">
							<div class="col">
								<label class="loginheaderb pb-3 text-white">Sign In To Your Account</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start">
								<div class="form-floating mb-3">
									<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
									<label for="floatingInput">Email address</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-floating">
									<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
									<label for="floatingPassword">Password</label>
								</div>
							</div>
						</div>
						<div class="row pt-5">
							<div class="col">
								<a class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;" href="#">Login</a>
							</div>
						</div>
						<div class="row pt-4 pb-2 border-bottom border-2 border-white">
							<div class="col">
								<label class="loginfontbody"><a href="#" class="text-decoration-none">Forgot Password?</a></label>
							</div>
						</div>
						<div class="row pt-5 pb-2">
							<div class="col">
								<a class="dbuttonlbls text-white border-0 text-decoration-none rounded-1"
								   style="background-color: #3ECCB5;" asp-area="" asp-controller="Credentials" asp-action="Register">Register</a>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col pt-3" id="cardfooter">
						<label class="loginfontbody"><a href="#" class="text-white">Create an Account</a> for Co-Working Space and Study Hub Owners.</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>