@model List<Trabahub.Models.Credentials>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="loginlayer" id="loginlayer">
	<div class="logincontainer">
		<div class="wrapper">
			<div class="loginside">
				<div class="row">
					<div class="col">
						<img src="~/res/LargeLogo.png" class="loginlogo" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="loginheader text-white">CO-WORKING SPACES AND STUDY HUBS IN CEBU</label>
					</div>
				</div>
				<div class="row pt-3">
					<div class="col">
						<label class="loginheaderb text-white">In An Innovative Environment</label>
					</div>
				</div>
			</div>
			<div class="loginmain">
				<div class="p-5 loginbody">
					<form method="post" asp-controller="Credentials" asp-action="Login">
						<div class="row">
							<div class="col">
								<label class="loginheaderb pb-3 text-white">Sign In To Your Account</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start">
								<div class="form-floating mb-3">
									<input type="email" class="form-control" id="emaillog" name="emaillog" placeholder="name@example.com" required />
									<label for="emaillog">Email address</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-floating">
									<input type="password" class="form-control" id="passwordlog" name="passwordlog" placeholder="Password" required />
									<label for="passwordlog">Password</label>
								</div>
							</div>
						</div>
						<div class="row pt-5">
							<div class="col">
								<button type="submit" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Login</button>
							</div>
						</div>
						<div class="row pt-4 pb-2 border-bottom border-2 border-white">
							<div class="col">
								<label class="loginfontbody"><a asp-area="" asp-controller="Credentials" asp-action="ForgotPassword" class="text-decoration-none">Forgot Password?</a></label>
							</div>
						</div>
						<div class="row pt-5 pb-2">
							<div class="col">
								<a class="dbuttonlbls text-white border-0 text-decoration-none rounded-1"
								   style="background-color: #3ECCB5;" asp-area="" asp-controller="Credentials" asp-action="Register">Register</a>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col pt-3" id="cardfooter">
						<label class="loginfontbody"><a class="text-white" asp-area="" asp-controller="Listing" asp-action="Add">Create a Listing</a> for Co-Working Space and Study Hub Owners.</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@if (TempData.ContainsKey("UserNull"))
{
	<script>
		var errorMessage = '@TempData["UserNull"]';
		Swal.fire({
			icon: 'error',
			title: 'Error',
			text: errorMessage,
		});
	</script>
}

@if (TempData.ContainsKey("PasswordIncorrect"))
{
	<script>
		var errorMessage = '@TempData["PasswordIncorrect"]';
		Swal.fire({
			icon: 'error',
			title: 'Error',
			text: errorMessage,
		});
	</script>
}

@if (TempData.ContainsKey("SuccessMessage"))
{
	<script>
		var successMessage = '@TempData["SuccessMessage"]';
		Swal.fire({
			icon: 'success',
			title: 'Success',
			text: successMessage,
		});
	</script>
}