<div class="registerlayer" id="registerlayer">
	<div class="logincontainer">
		<div class="wrapper registerbody">
			<div class="registerside pb-5">
				<div class="container">
					<div class="row">
						<div class="col">
							<img src="~/res/LargeLogo.png" class="loginlogo" />
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="loginheader text-white">CO-WORKING SPACES AND STUDY HUBS IN CEBU</label>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col">
							<label class="loginheaderb text-white">In An Innovative Environment</label>
						</div>
					</div>
				</div>
			</div>
			<div class="registermain" id="registercard">
				<div class="container">
					<div class="row pt-3">
						<div class="col">
							<label class="text-center h2 text-white fontsign" style="font-family: 'Noto Sans', sans-serif; font-weight: 700">Sign Up</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="loginheaderb text-white">For an Account</label>
						</div>
					</div>
					<form>
						<div class="row pt-4">
							<div class="col-2 pt-3">
								<i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
							</div>
							<div class="col-10">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="username" placeholder="Username001">
									<label for="username">Username</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2 pt-3">
								<i class="fa-solid fa-envelope fa-2xl" style="color: #ffffff;"></i>
							</div>
							<div class="col-10">
								<div class="form-floating mb-3">
									<input type="email" class="form-control" id="floatingInput" placeholder="trabahubuser@example.com">
									<label for="floatingInput">Email address</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2 pt-3">
								<i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
							</div>
							<div class="col-10">
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
									<label for="floatingPassword">Password</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2 pt-3">
								<i class="fa-solid fa-key fa-2xl" style="color: #ffffff;"></i>
							</div>
@* 							<div class="col-10">
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
									<label for="floatingPassword">Confirm Password</label>
								</div>
							</div> *@
						</div>
						<div class="row pt-4 pb-2">
							<div class="col">
								<a class="dbuttonlbls text-white border-0 text-decoration-none rounded-1"
								   style="background-color: #3ECCB5;" href="#">Register</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>