@model Credentials
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="registermain" id="registercard">
    <form method="post" asp-controller="Credentials" asp-action="Register" id="registerForm">
        <div class="container" id="section1">
            <!-- First Section: User information and email verification -->
            <div class="row pt-3">
                <div class="col">
                    <label class="loginheaderb text-white">Are you a Client or an Owner?</label>
                </div>
            </div>
            <div class="container">
                <div class="row ms-2 mb-3 mt-3">
                    <div class="col">
                        <div class="form-check form-check-inline radiob">
                            <input class="form-check-input" type="radio" id="radioOption1" name="radBtnOptions" value="Client" asp-for="UserType" required>
                            <label class="form-check-label" for="radioOption1" style="color: #ffffff">CLIENT</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline radiob">
                            <input class="form-check-input" type="radio" id="radioOption2" name="radBtnOptions" value="Owner" asp-for="UserType" required>
                            <label class="form-check-label" for="radioOption2" style="color: #ffffff">OWNER</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input asp-for="Username" type="text" class="form-control" id="usernamereg" placeholder="Username001" minlength="4" maxlength="15" required />
                        <label for="username">Username</label>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input asp-for="fName" type="text" class="form-control" id="fnamereg" placeholder="Juan" minlength="4" maxlength="50" required />
                        <label for="fname">First Name</label>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input asp-for="lName" type="text" class="form-control" id="lnamereg" placeholder="Dela Cruz" minlength="4" maxlength="50" required />
                        <label for="lname">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-envelope fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control" id="emailreg" placeholder="trabahubuser@example.com" maxlength="255" required />
                        <label for="floatingInput">Email address</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <button type="button" id="nextButton" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Next</button>
                </div>
            </div>
        </div>
        <div class="container" id="section2" style="display: none;">
            <!-- Second Section: Verification code, password, and registration -->
            <div class="row">
                <div class="col-2 pt-1">
                    <i class="bi bi-shield-fill-check" style="font-size: 2rem; color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="VerificationCode" id="verifyreg" placeholder="trabahubuser@example.com" maxlength="255" required />
                        <label for="floatingInput">Verification Code</label>
                        <span id="verificationStatus"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control" id="passwordreg" placeholder="Password" minlength="10" maxlength="255" required disabled />
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 pt-3">
                    <i class="fa-solid fa-key fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-10">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" oninput="checkPasswordMatch()" required disabled />
                        <label for="confirmPassword">Confirm Password</label>
                        <span id="passwordMatchError" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- Include hidden input for UserType to be submitted with the form -->
            <input type="hidden" name="UserType" id="UserType" value="" />
            <input type="hidden" name="Username" id="Username" value="" />
            <input type="hidden" name="fName" id="fName" value="" />
            <input type="hidden" name="lName" id="lName" value="" />
            <input type="hidden" name="Email" id="Email" value="" />
            <!-- Register button -->
            <div class="row pt-3 pb-2">
                <div class="col">
                    <button type="submit" id="registerButton" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).ready(function () {
            $('#nextButton').click(function () {
                $('#section1').hide();
                $('#section2').show();
                sendVerificationEmail();

            });

            // Function to set the UserType value before submitting the form
            function setUserType() {
                // Set values for hidden inputs
                $('#UserType').val($('input[name="radBtnOptions"]:checked').val());
                $('#Username').val($('#usernamereg').val());
                $('#fName').val($('#fnamereg').val());
                $('#lName').val($('#lnamereg').val());
                $('#Email').val($('#emailreg').val());
            }

            // Submit form when register button is clicked
            $('#registerButton').click(function () {
                setUserType(); // Set value for hidden inputs
            });


            function sendVerificationEmail() {
                var email = $('#emailreg').val();

                $.ajax({
                    url: '/Credentials/SendEmail',
                    type: 'POST',
                    data: { email: email },
                    success: function (response) {
                        var generatedVerificationCode = response.verificationCode;

                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Verification email sent successfully. Check your email.'
                        }).then(function () {
                            $('#passwordreg').prop('disabled', false);
                            $('#confirmPassword').prop('disabled', false);

                            $('#verifyreg').keyup(function () {
                                var enteredVerificationCode = $(this).val();
                                if (enteredVerificationCode === generatedVerificationCode) {
                                    $('#passwordreg').prop('disabled', false);
                                    $('#confirmPassword').prop('disabled', false);
                                    $('#verificationStatus').text('Verification code matched').css('color', 'green');
                                    $('#registerButton').prop('disabled', false); // Enable register button
                                } else {
                                    $('#verificationStatus').text('Verification code does not match').css('color', 'red');
                                    $('#registerButton').prop('disabled', true); // Disable register button
                                }
                            });
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to send verification email. Please try again later.'
                        });
                    }
                });
            }
        });
    });
</script>
