@{
    ViewData["Title"] = "Home";
}

@* Font Imports *@
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<div id="layoutbody">
    <div class="text-center pt-5">
        <p class="maintxt">
            CO-WORKING<br />
            SPACES AND STUDY<br />
            HUBS IN CEBU
        </p>
        <p id="secondtxt">In an Innovative Environment</p>
    </div>

    <button type="button" id="Bookbtn" class="mx-auto d-block border-0">BOOK A SPACE</button>
</div>

