@{
    ViewData["Title"] = "Home";
}

@* Font Imports *@
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

@*Swal Import and JQuery*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div id="layoutbody">
    <div class="text-center pt-5">
        <p class="maintxt">
            CO-WORKING<br />
            SPACES AND STUDY<br />
            HUBS IN CEBU
        </p>
        <p id="secondtxt">In an Innovative Environment</p>
    </div>

    <div class="d-flex justify-content-center pt-2">
        <a type="button" id="Bookbtn" class="mx-auto border-0 text-center pt-2"
           asp-area="" asp-controller="Spaces" asp-action="Index" style="text-decoration: none">
            BOOK NOW
        </a>
    </div>
</div>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <script>
        var successMessage = '@TempData["SuccessMessage"]';
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: successMessage,
        });
    </script>
}