@{
    ViewData["Title"] = "Home Page";
}

@* Font Imports *@
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
<div class="text-center">
    <p class="maintxt">CO-WORKING<br />
        SPACES AND STUDY<br />
        HUBS IN CEBU
    </p>
    <p id="secondtxt">In an Innovative Environment</p>
</div>
