@{
    ViewData["Title"] = "Community";
}

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">

<div class="container mt-3">
    <div class="header border-bottom border-3 border-dark text-center mx-auto mt-3">
        <label class="header-font">Community</label>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 text-center">
            <p id="txtdivide">
                A community of shared co-working spaces represents a collaborative and flexible work environment where individuals from diverse professional backgrounds come together to work, network, and share resources.
            </p>

            <p id="txtdivide">
                Explore additional reviews and feedback from our customers and business partners by clicking here to gain insights into their experiences with our online booking and payment facility.
            </p>
        </div>
    </div>
</div>