<section class="firstlayer container">
	<div class="wrapper pb-5">
		<div class="row">
			<div class="col">
				<div class="header border-bottom border-3 border-dark">
					<label class="header-font">About Us</label>
				</div>
				<div class="main pt-5">
					<p class="body-font">
						Trabahub is a cutting-edge web based platform designed to revolutionize the
						way individuals access co-working spaces and study hubs in Cebu City.
					</p>
				</div>
			</div>
			<div class="col">
				<div class="side">
					<div class="row">
						<div class="col">
							<svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M46.3916 68.8165C49.698 67.2295 72.8334 55.3794 72.8334 34.5C72.8334 19.6803 60.8197 7.66663 46.0001 7.66663C31.1804 7.66663 19.1667 19.6803 19.1667 34.5C19.1667 55.3794 42.3022 67.2295 45.6086 68.8165C45.8654 68.9397 46.1347 68.9397 46.3916 68.8165ZM46.0001 46C52.3514 46 57.5001 40.8512 57.5001 34.5C57.5001 28.1487 52.3514 23 46.0001 23C39.6488 23 34.5001 28.1487 34.5001 34.5C34.5001 40.8512 39.6488 46 46.0001 46Z" fill="#C23030" />
								<path d="M69.2384 63.25C71.5935 64.9982 72.8334 66.9813 72.8334 69C72.8334 71.0187 71.5935 73.0018 69.2384 74.75C66.8833 76.4982 63.4959 77.95 59.4168 78.9593C55.3376 79.9686 50.7103 80.5 46.0001 80.5C41.2899 80.5 36.6626 79.9686 32.5834 78.9593C28.5042 77.95 25.1169 76.4982 22.7617 74.75C20.4066 73.0018 19.1667 71.0187 19.1667 69C19.1667 66.9813 20.4066 64.9982 22.7617 63.25" stroke="#C23030" stroke-width="2" stroke-linecap="round" />
							</svg>
							<label class="header-font">The Hive</label>
						</div>
					</div>
					<img class="img-size border border-3 border-dark rounded" src="https://i.ibb.co/N6NZZvs/Image-Sample.jpg" />
					<div class="row">
						<div class="col">
							<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
								<path d="M28 42L14 28L28 14" stroke="#3ECCB5" stroke-width="2" />
								<path d="M42 42L28 28L42 14" stroke="#3ECCB5" stroke-width="2" />
							</svg>
							<label>1</label>
							<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
								<path d="M28 42L42 28L28 14" stroke="#3ECCB5" stroke-width="2" />
								<path d="M14 42L28 28L14 14" stroke="#3ECCB5" stroke-width="2" />
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="secondlayer">
	<div class="wrapper pb-5 pt-5">
	</div>
</section>



