@{
	ViewData["Title"] = "About";
}
<section class="firstlayer container pt-5">
	<div class="wrapper pb-5">
		<div class="row">
			<div class="col">
				<div class="header border-bottom border-1 border-dark">
					<label class="header-font">About Us</label>
				</div>
				<div class="main pt-5">
					<p class="body-font">
						Trabahub is a cutting-edge web based platform designed to revolutionize the
						way individuals access co-working spaces and study hubs in Cebu City.
					</p>
					<div class="row">
						<div class="col" id="mapbtn">
							<a type="button" id="Bookbtn" class="mx-auto border-0 text-center maplabel pt-2"
							   asp-area="" asp-controller="Map" asp-action="Index">
							SEE MAP</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="side">
					<div class="row">
						<div class="col">
							<svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M46.3916 68.8165C49.698 67.2295 72.8334 55.3794 72.8334 34.5C72.8334 19.6803 60.8197 7.66663 46.0001 7.66663C31.1804 7.66663 19.1667 19.6803 19.1667 34.5C19.1667 55.3794 42.3022 67.2295 45.6086 68.8165C45.8654 68.9397 46.1347 68.9397 46.3916 68.8165ZM46.0001 46C52.3514 46 57.5001 40.8512 57.5001 34.5C57.5001 28.1487 52.3514 23 46.0001 23C39.6488 23 34.5001 28.1487 34.5001 34.5C34.5001 40.8512 39.6488 46 46.0001 46Z" fill="#C23030" />
								<path d="M69.2384 63.25C71.5935 64.9982 72.8334 66.9813 72.8334 69C72.8334 71.0187 71.5935 73.0018 69.2384 74.75C66.8833 76.4982 63.4959 77.95 59.4168 78.9593C55.3376 79.9686 50.7103 80.5 46.0001 80.5C41.2899 80.5 36.6626 79.9686 32.5834 78.9593C28.5042 77.95 25.1169 76.4982 22.7617 74.75C20.4066 73.0018 19.1667 71.0187 19.1667 69C19.1667 66.9813 20.4066 64.9982 22.7617 63.25" stroke="#C23030" stroke-width="2" stroke-linecap="round" />
							</svg>
							<label class="header-font">The Hive</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<img class="img-size border border-3 border-dark rounded" src="https://i.ibb.co/N6NZZvs/Image-Sample.jpg" />
						</div>
					</div>
					<div class="row mt-3">
						<div class="col">
							<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
								<path d="M28 42L14 28L28 14" stroke="#3ECCB5" stroke-width="2" />
								<path d="M42 42L28 28L42 14" stroke="#3ECCB5" stroke-width="2" />
							</svg>
							<label>1</label>
							<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
								<path d="M28 42L42 28L28 14" stroke="#3ECCB5" stroke-width="2" />
								<path d="M14 42L28 28L14 14" stroke="#3ECCB5" stroke-width="2" />
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="secondlayer pb-5">
	<div class="wrapper pt-5">
		<div class="row">
			<div class="col">
				<div class="container border-bottom border-4 border-white">
					<label class="header-font sl-header">Trabahub Offers</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="body-font sl-header">users a convenient and efficient means to</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="offercard">
					<div class="row">
						<div class="col">
							<label class="offer-num ps-3 pt-3">01</label>
						</div>
					</div>
					<div class="text-center">
						<div class="row pb-2">
							<div class="col">
								<svg xmlns="http://www.w3.org/2000/svg" width="156" height="156" viewBox="0 0 156 156" fill="none">
									<circle cx="78" cy="78" r="62.5" stroke="white" stroke-width="5" />
									<path d="M120.25 78H126.75" stroke="white" stroke-width="5" stroke-linecap="round" />
									<path d="M29.25 78H35.75M78 29.25V35.75M78 120.25V126.75" stroke="white" stroke-width="5" stroke-linecap="round" />
									<path d="M45.5492 45.6149L64.3697 89.5294C64.7743 90.4734 65.5266 91.2257 66.4706 91.6303L110.385 110.451C110.427 110.469 110.469 110.427 110.451 110.385L91.6303 66.4706C91.2257 65.5266 90.4734 64.7743 89.5294 64.3697L45.6149 45.5492C45.5734 45.5315 45.5315 45.5734 45.5492 45.6149Z" stroke="white" stroke-width="5" stroke-linecap="round" />
									<circle cx="78" cy="78" r="17" stroke="white" stroke-width="5" stroke-linecap="round" />
								</svg>
							</div>
						</div>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col">
								<label class="offer-num">EXPLORE</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="offercard">
					<div class="row">
						<div class="col">
							<label class="offer-num p-3">02</label>
						</div>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col">
								<svg id="selectcard" xmlns="http://www.w3.org/2000/svg" width="152" height="168" viewBox="0 0 152 168" fill="none">
									<path d="M66.3975 57.1816L70.7577 87.7145C70.7604 87.7333 70.7721 87.7489 70.7883 87.7551L97.0319 97.839" stroke="white" stroke-width="5" />
									<path d="M3.09885 78.2881L118.51 43.9317C118.548 43.9202 118.581 43.9634 118.564 44.0039L68.1413 164.611C68.1243 164.652 68.0723 164.653 68.0555 164.613L45.9364 111.827C45.933 111.819 45.9278 111.812 45.9212 111.807L3.08264 78.382C3.04998 78.3565 3.05979 78.2997 3.09885 78.2881Z" stroke="white" stroke-width="5" stroke-linecap="round" />
								</svg>
							</div>
						</div>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col">
								<label id="scardlabel" class="offer-num">SELECT</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="offercard">
					<div class="row">
						<div class="col">
							<label class="offer-num p-3">03</label>
						</div>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col">
								<svg id="reservecard" xmlns="http://www.w3.org/2000/svg" width="102" height="114" viewBox="0 0 102 114" fill="none">
									<path d="M8.5 27.6648C8.5 25.7791 8.5 24.8363 9.08579 24.2506C9.67157 23.6648 10.6144 23.6648 12.5 23.6648H89.5C91.3856 23.6648 92.3284 23.6648 92.9142 24.2506C93.5 24.8363 93.5 25.7791 93.5 27.6648V46.3295C93.5 46.8009 93.5 47.0366 93.3536 47.1831C93.2071 47.3295 92.9714 47.3295 92.5 47.3295H9.5C9.0286 47.3295 8.79289 47.3295 8.64645 47.1831C8.5 47.0366 8.5 46.8009 8.5 46.3295V27.6648Z" fill="white" />
									<path d="M8.5 100.125C8.5 102.011 8.5 102.953 9.08579 103.539C9.67157 104.125 10.6144 104.125 12.5 104.125H89.5C91.3856 104.125 92.3284 104.125 92.9142 103.539C93.5 102.953 93.5 102.011 93.5 100.125V57.7954C93.5 57.324 93.5 57.0883 93.3536 56.9419C93.2071 56.7954 92.9714 56.7954 92.5 56.7954H9.5C9.0286 56.7954 8.79289 56.7954 8.64645 56.9419C8.5 57.0883 8.5 57.324 8.5 57.7954V100.125Z" fill="white" />
									<path d="M29.75 14.1989L29.75 28.3977" stroke="white" stroke-width="5" stroke-linecap="round" />
									<path d="M72.25 14.1989L72.25 28.3977" stroke="white" stroke-width="5" stroke-linecap="round" />
								</svg>
							</div>
						</div>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col">
								<label class="offer-num">RESERVE</label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label class="offer-num">SPACE</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="thirdlayer container pt-5">
	<div class="wrapper pt-2 pb-5">
		<div class="main pt-5">
			<img class="img-size border border-3 border-dark rounded" src="https://i.ibb.co/2S8v9TD/Image-Sample-3.jpg" />
		</div>
		<div class="side">
			<div class="row">
				<div class="col">
					<div class="header border-bottom border-3 border-dark text-center">
						<label class="header-font">The Vision</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="body-font pt-2">
						The platform acts as a bridge, connecting businesses in the co- working and study hub industry 
						with their customers, facilitating a seamless and user-friendly experience. With a focus on enhancing 
						accessibility and streamlining the reservation process, Trabahub strives to empower both providers 
						and users, fostering a dynamic ecosystem for collaborative work and focused study in the vibrant city 
						of Cebu.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>



